body {
    font:15px/23px 'Roboto',sans-serif;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%
}

.tooltip-button {
    color: #990027;
    height: 35px !important;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 100%;
}

.headmast {
    margin-top: 1rem;
    width: 100%;
    padding: 3rem;
    padding-bottom: 8rem;
}

.headmast h1 { color: #222; font-weight: bold; font-size: 32px;}
.headmast label { color: #222222; }
.headmast p { margin-bottom: 0; }

.priceSlider
{
    width: 60px;
    border: 0;
    color: #b90230;
    font-weight:bold;
}

#seeSawSplit
{
    width: 48px;
}

.ui-widget.ui-widget-content
{
    border: 0;
    background-color: #c90739;
}

.ui-widget-header
{
    background: #990027;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active
{
    background: #222222;
    border: 0;
}

#mintedDivi
{
    border: 0;
    border-radius: 5px;
    color: #000;
}

.floating
{
    z-index: 1000;
    position: relative;
    box-shadow: 0 0 10px 0px #f1f1f1;
    top: -6rem;
    background-color: #fff;
    border-radius: 10px;
}

.floating .table td, .table th
{
    border-top: 0;
}

.table thead th {
    font-size: 13px;
}

.tfooter p
{
    margin-top: 16px;
    font-size: 16px;
    margin-bottom: 16px;
}
.footer
{
    padding: 1.5rem;
}

@media screen and (max-width: 575px)
{
    .headmast,
    .priceSlider,
    .tfooter,
    #mintedDivi
    {
        text-align: center;
    }

    .headmast h1
    {
        font-size: 1rem;
    }

}
